<!doctype html>
<html lang="en">
  <%- include('partials/head', { title, description, pageCss }) %>
  <body>
    <%- include('partials/header', { active }) %>
    <main>
      <%- body %>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>